#status_indicator {
	font-size: 2em;
	color: #333;
	padding: 1em;
	float: center;
}
body {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}
h1 {
	font-size: 1.5em;
	color:#333;
}
summary:first-child~*
{
	display:none
}
details[open]>*
{
	display:block
}
details>summary:first-child
{
	display:block
}
/*
details:before
{
	content:'\\25BA';
	font-family:serif;
	font-size:.75em;
	margin-top:.25em;
	margin-left:.25em;
	position:absolute
}
details[open]:before
{
	content:'\\25BC'
}

summary:first-child
{
	text-indent:1.25em
}

details::before
{
	content:'';
	width:0;
	height:0;
	border:solid transparent;
	border-left-color:inherit;
	border-width:.25em .5em;
	margin-top:.75em;
	margin-left:.5em;
	-webkit-transform:rotate(0deg) scale(1.5);
	-ms-transform:rotate(0deg) scale(1.5);
	transform:rotate(0deg) scale(1.5);
	-webkit-transform-origin:25% 50%;
	-ms-transform-origin:25% 50%;
	transform-origin:25% 50%;
	-webkit-transition:-webkit-transform .1s ease-out;
	transition:transform .1s ease-out
}
details[open]::before
{
	content:'';
	-webkit-transform:rotate(90deg) scale(1.5);
	-ms-transform:rotate(90deg) scale(1.5);
	transform:rotate(90deg) scale(1.5)
}
*/
summary::-webkit-details-marker
{
	display:none
}

th {
	font-weight: bold;
	padding: 0px 10px;
}

th, td.changed {
	color:#22b;
}
th, td.added {
	color:#2b2;
}
th, td.removed {
	color:#b22;
}

th, td.same {
	color:#000;
}

.right {
	float: right;
}

#banner {
	padding: 20px 30px 15px 30px;
	color: #fff;
	background-color: #333;
}
#banner h1 {
	color: #fff;
	padding: 0;
	margin: 0;
	font-weight: normal;
	letter-spacing: 3px;
}
#banner a {
	color: LightSteelBlue;
}

#legend {
	float: right;
}

#main {
	padding: 30px;
}

summary.same,
span.same,
div.same{
	color:#666;
	font-weight: bold;
}
summary.changed,
span.changed,
div.changed {
	color:#22b;
	font-weight: bold;
}
summary.added,
span.added,
div.added {
	color:#2b2;
	font-weight: bold;
}
summary.removed,
span.removed,
div.removed {
	color:#b22;
	font-weight: bold;
}

div.staticValue {
	text-indent: -1em;
	padding-left: 2em;
}
span.ellipsis {
	font-style: italic;
}

/* Timeline css */
rect.listener {
	fill: none;
	cursor: move;
  	pointer-events: all;
}
.same.diff.odd {
	fill: #777;
}
.changed.diff.odd {
	fill: #55d;
}
.added.diff.odd {
	fill: #5d5;
}
.removed.diff.odd {
	fill: #d55;
}
.same.diff.even {
	fill: #666;
}
.changed.diff.even{
	fill: #33c;
}
.added.diff.even{
	fill: #3c3;
}
.removed.diff.even{
	fill: #c33;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.line {
	fill:none;
	stroke-width:1.5;
	stroke:purple;
}
.old.line {
	stroke:rgba(255,0,0, 0.5);
}
.new.line {
	stroke:rgba(0,0,255, 0.5);
}
}

.mouse.date {
		font-family: sans-serif;
}
.date.line {
	stroke:#000;
	stroke-width:1;
	shape-rendering:crispEdges;
}

.same.area {
	fill: rgba(80, 80, 80, 0.0);
}
.changed.area {
	fill: rgba(0, 0, 255, 0.1);
}
.added.area {
	fill: rgba(0, 255, 0, 0.1);
}
.removed.area {
	fill: rgba(255, 0, 0, 0.1);
}